<!-- index.html -->
<!DOCTYPE html>


<html ng-app="todoApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--optimize for mobile-->
    <title>Todo Applicaion</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" type="text/css" href="./assets/style.css">
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="./core.js"></script>

  </head>
  <!--Set the controller and display all todos-->
  <body ng-controller="mainController">
    <div class="container">
      <div class="jumbotron text-center">
        <h1><span class="label label-info">{{ todos.length }}</span> Open Todos</h1>
      </div>

      <!--TODO List-->
      <div id="todo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4" >
          <!--loop over todos in $scope variable-->
          <div class="checkbox" ng-repeat="todo in todos">
            <label>
              <input type="checkbox" ng-click="deleteTodo(todo._id)">{{ todo.text }}
            </label>
          </div>
        </div>
      </div>
      <!--create todo form-->
      <div id="todoForm" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <form>
            <div class="form-group">
              <input type="text" class="form-control input-lg text-center" placeholder="New Todo" ng-model="formData.text">
            </div>
            <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
